---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="inicio">
  <div class="pb-12 mt-5">
    <div class="text-2xl py-1">Hola 👋</div>
    <div class="text-5xl font-bold">Soy Deiby Peña</div>
    <div class="text-3xl py-3 font-bold">Desarrollador de Software</div>
    <div class="py-2">
      <text class="text-lg">
        Un apasionado del desarrollo de software, me gusta resolver problemas y
        crear soluciones innovadoras que mejoran la vida de las personas.
      </text>
    </div>
    <div class="mt-6">
      <a
        href="https://github.com/piparcode"
        target="_blank"
        class="btn btn-outline"
      >
        ¡Conectémonos!
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">
      Mis últimos proyectos {"</>"}
    </div>
  </div>

  <HorizontalCard
    title="EJ Moving Services"
    img="/ejmoving.png"
    desc="Somos una empresa de mudanzas, estamos aquí para hacer que su transición sea perfecta y libre de estrés. Contamos con más de 10 años de experiencia y un equipo de profesionales"
    url="https://ejmovingllc.com/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="CienciaCo"
    img="/cienciaco.webp"
    desc="Somos una iniciativa que busca conectar investigadores, académicos, doctores y demás interesados en aportar a las ciencias de Colombia y el mundo."
    url="https://cienciaco.com/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Gecins"
    img="/gecins.webp"
    desc="Vocación científica de niños utilizando como herramientas el método científico y diferentes especies de mariposas provenientes del departamento."
    url="https://gecins.com/"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">
      Mis ultimas publicaciones
    </div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
